.footer{
  height: 27vh;
  background-color: rgb(238, 238, 238);
  padding-top: 3vh;
}

.footer__slogan{
	background-image: linear-gradient(
		to bottom,
		rebeccapurple,
		steelblue,
		turquoise
	);
	align-self: start;
	margin: 20px 0 10px 0;
	font-size: 35px;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: black;
}
.footer__contact{
	margin-top: 20px;
  font-weight: 700;
	font-size: 20px;
}
.footer__div__icon{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
}
.footer__icon{
	width: 50px;
	height: 50px;
	color: rgb(54, 54, 54);
}